doctype html
html(lang="ru")
  //- Подключение файла с миксинами
  include mixins.pug 
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/about.css")
    link(rel="shortcut icon" href="../img/icons/favicon.svg")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous")
    title О нас

  body
    include menu.pug

    +pageName('Что надо знать о Snow Hill?')

    section(class="scroll-to-section")
      .container
        .row
          .col-4.col-lg-2
            a(href="#" id="go-to-entertainments") Чем заняться
          .col-4.col-lg-2
            a(href="#" id="go-to-worktimes") Режим работы
          .col-4.col-lg-2
            a(href="#" id="go-to-scheme") Схема базы

    section(class="about-section")
      .container
        .row.justify-content-between
          .col-12.col-lg-6#show-info-1
            p Snow Hill — это уникальный круглогодичный горноклиматический курорт, где вы сможете заниматься всеми горными видами спорта (летними и&nbsp;зимними) в&nbsp;комфортных и&nbsp;безопасных условиях. С&nbsp;каждым годом в&nbsp;стране растет популярность горнолыжного спорта. И&nbsp;это неудивительно, ведь здесь сосредоточено самое большое количество горных систем, разнообразие их ландшафта поражает воображение: острые пики вершин Кавказа, низкие сопки Хибин, гористая Камчатка и&nbsp;межгорные долины Алтая.
            p Зимой это широкие трассы, современные канатные дороги, хрустящий вельвет снега и&nbsp;запах сосен. Летом насладитесь тишиной, свежестью и&nbsp;комфортом. Можно и&nbsp;поактивничать — прокат велосипедов, роликов, самокатов, ракеток и&nbsp;другого оборудования организован на&nbsp;месте.
            p Наша всесезонная база открылась в&nbsp;последние дни 2013 года. С&nbsp;тех пор она принял почти 2,5 миллиона туристов. А&nbsp;уже в&nbsp;2016 году курорт стал победителем в&nbsp;номинации «Лучший молодой горнолыжный курорт» премии «Лидеры спортивной индустрии», а&nbsp;через два года получил национальную премию в&nbsp;области физической культуры и&nbsp;спорта.
          .col-12.col-lg-5#show-info-2
            div
              span 20 000 га
              p(class="info") Общая площадь <br/>территории

            div
              span 1650-3173 м
              p(class="info") Перепад высот<br/>над уровнем моря
            div
              span Снежный покров
              p(class="info") достигает максимальной высоты<br/>в первой декаде февраля

    section(class="entertainments-section")
      .container
        .row.justify-content-between
          .col-12.col-lg-5
            h2 Развлечения на&nbsp;горнолыжной базе Snow&nbsp;Hill
          .col-12.col-lg-6#entertainments
            p У нас вы можете покататься не только на&nbsp;лыжах или&nbsp;сноуборде зимой, но&nbsp;и&nbsp;поиграть в&nbsp;футбол, большой и&nbsp;настольный теннис, волейбол, бадминтон летом.
            p Не катаетесь на&nbsp;лыжах или&nbsp;сноуборде, но&nbsp;хотели бы посмотреть на&nbsp;зимние виды с&nbsp;высоты птичьего полета? Прокатитесь на&nbsp;канатной дороге. Вы сможете насладиться прекрасными видами и&nbsp;склонами.
            p Впрочем, говорить о&nbsp;том, что горнолыжная база впадает в&nbsp;летнюю спячку, не&nbsp;приходится. Можно организовывать корпоративный отдых за&nbsp;городом, весной и&nbsp;летом активно проходят свадьбы и&nbsp;выпускные вечера.
        .row
          .col-12.entertainments
            .options
              +addOption('--optionBackground:url("/img/about/snowtubing.jpg");', '/img/icons/snowflake.svg','Сноутюбинг','Отличная альтернатива катанию на санках')
              +addOption('--optionBackground:url("/img/about/tennis.jpg");','/img/icons/sun.svg','Теннисный корт','Аренда спортивных площадок на открытом воздухе')
              +addOption('--optionBackground:url("/img/about/snowpark.jpg");','/img/icons/snowflake.svg','Сноупарк','Подходит начинающим и со стажем')
              +addOption('--optionBackground:url("/img/about/wowmaking.jpg");','/img/icons/sun.svg','Верёвочный городок','Kинии препятствий на высоте 3-16 метров')
              +addOption('--optionBackground:url("/img/about/ski.jpg");','/img/icons/snowflake.svg','Горные лыжи','Большой выбор трасс порадует всех')

    .container
      .row
        .col-12.work-times-title
          h2 Режим работы

    section(class="timetable-section")
      .container
        .row
          .col-12.col-lg-6
            .hotel-gazebo-times
              div
                h4 Гостиница
                p Круглосуточно
                p Заезд после 14:00
                p Выезд до 12:00
              div
                h4 Беседки
                p ежедневно: 08:00 - 22:00

          .col-12.col-lg-6
            .rental-administration-times
              div
                h4 Пункт проката
                p пн-вс: 09:00 - 21:00 

              div
                h4 Администрация
                p пн-чт: 08:00 - 17:00 
                p пт: 08:00 - 15:45   
                p обед: 12:00 - 12:45 

    section(class="scheme-section")
      .container
        .row
          .col-12
            h2 Схема расположения объектов горнолыжной базы
        .row.justify-content-center
          .col-12.col-lg-10
            .scheme
              <img src="../img/about/scheme.png" alt="">
        .row.justify-content-center
          .col-10
            .numbering
              +addNumberItem('1','Учебные трассы 1-3')
              +addNumberItem('2','Трассы 4-7')
              +addNumberItem('3','Подъёмники')
              +addNumberItem('4','Учебный комплекс')
              +addNumberItem('5','Пункт проката')
              +addNumberItem('6','Спортивные площадки')
              +addNumberItem('7','Картинг центр')
              +addNumberItem('8','Гостиницы')
              +addNumberItem('9','Бани')
              +addNumberItem('10','Кафе и рестораны')

    +preloader
    include footer.pug

  script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollToPlugin.min.js")
  script(src="/js/jquery-1.11.3.min.js")
  script(src="/js/about.js")
