doctype html
html(lang="ru")
  //- Подключение файла с миксинами
  include mixins.pug 
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/booking.css")
    link(rel="shortcut icon" href="../img/icons/favicon.svg")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous")
    title Заявка онлайн

  body
    include menu.pug

    +pageName('Заявка на бронирование онлайн')

    section(class="form-section")
      form
        .container
          .row.justify-content-center
            .col-12.col-lg-4
              div
                p ФИО
                input(name="name" type="text")
                p(class="error") error
              div
                p Телефон
                input(name="number" type="text" placeholder="+79371234567")
                p(class="error") error
              div
                p Почта
                input(name="email" type="text" placeholder="emailaddress@example.com")
                p(class="error") error

            .col-12.col-lg-4
              div
                p Дата заезда
                input(name="date-in" type="date" onkeydown="return false")
                p(class="error") error
              div
                p Дата выезда
                input(name="date-out" type="date" onkeydown="return false")
                p(class="error") error
              div
                p Количество человек
                input(name="count" type="number" min="1")
                p(class="error") error
          .row.justify-content-center
            .col-12.col-lg-8
              button(class="submit button" type="submit") Отправить
              p(class="form-info") После получения заявки специалисты отдела бронирования свяжутся с&nbsp;вами для&nbsp;уточнения деталей и&nbsp;подбора наиболее оптимального варианта размещения

    +modalBox('Заявка принята', "Наши специалисты свяжутся с вами в самое ближайшее время")

  include footer.pug

  script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollToPlugin.min.js")
  script(src="/js/jquery-1.11.3.min.js")
  script(src="/js/booking.js")