section(class="footer-section")
  footer
    .container
      .row.justify-content-center.menu-links
        .col-12.col-lg.footer-link
          a(href="../pages/services.html?type=winter") Зимний период
        .col-12.col-lg.footer-link
          a(href="../pages/services.html?type=summer") Летний период
        .col-12.col-lg.footer-link
          a(href="../pages/services.html?type=hotels") Проживание
        .col-12.col-lg.footer-link
          a(href="../pages/services.html?type=bathhouses") Бани
        .col-12.col-lg.footer-link
          a(href="../pages/services.html?type=restaurants") Кафе и&nbsp;рестораны
      .row.address-info
        .col-12.col-lg.address
          img(src="/img/icons/map-pin.svg" alt='address')
          p Краснодарский&nbsp;край, г.&nbsp;Сочи, Адлерский&nbsp;район, с.&nbsp;Эстосадок, ул.&nbsp;Олимпийская, д.&nbsp;35
      .row
        .col-12.col-lg
          .conf-social
            p(class="conf") © 2022 Бутымова Карина 11 группа 
            .footer-logo
              img(src="/img/icons/footer-logo.svg" alt="footer-logo")
            .social-media
              a(href="#" class="twitter icon")
                img(src="/img/icons/twitter-icon.svg")
              a(href="#" class="youtube icon")
                img(src="/img/icons/youtube-icon.svg")
              a(href="#" class="facebook icon")
                img(src="/img/icons/facebook-icon.svg")
